@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --y: 0;
        --x: 0;
        text-rendering: optimizeLegibility;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-slate-950 font-Inter leading-relaxed antialiased font-normal text-slate-400 selection:bg-aquamarine/10 selection:text-aquamarine scroll-smooth;
}